<% paypal_checkout = ::Spree::PaypalCheckout.find_available_on_front_end %>
<% if paypal_checkout.present? && paypal_checkout['preferences']['show_in_cart'] %>
  <div id="cart-paypal-button">
    <%= render partial: 'spree/shared/paypal_checkout_button' %>
  </div>

  <style>
    #cart-paypal-button {
      margin-top: 1.5em;
    }
  </style>
  <%= render partial: "spree/shared/paypal_checkout_js_sdk" %>
<% end %>
