<div>
  <div class="express-checkout">
    <div class="express-checkout_content">
      <div id='paypal_payment_method' >
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
</div>
<div
  data-pp-message
  data-pp-style-layout="text"
  data-pp-style-logo-type="inline"
  data-pp-style-text-color="black"
  data-pp-amount="<%= @order.total %>"
>
</div>
<script>
window.addEventListener('DOMContentLoaded', function () {
  let current_order_id = "<%= @order.number %>"
  paypal
  .Buttons({
    // Sets up the transaction when a payment button is clicked
    style: {
      layout: 'horizontal',
      color:  'gold',
      shape:  'rect',
      label:  'paypal',
      tagline: false
    },
    createOrder: function (data, actions) {     
      formData = {
        "paypal_action": "CONTINUE",
        "order_id": current_order_id
      }

      return fetch("/paypal_checkout/create_paypal_order", {
        method: 'POST',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      }).then(response => response.json())
        .then((data) => data.token);
    },
    // Finalize the transaction after payer approval
    onApprove: function (data, actions) {
      paypalOrderData = {
        "data": data,
        "order_id": current_order_id
      }
      fetch("/paypal_checkout/add_shipping_address", {
        method: 'POST',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(paypalOrderData)
      }).then(response => response.json())
        .then((data) => {
          window.location.href =  data.redirect
        })
    }
  })
  .render("#paypal-button-container");
})
</script>
<style>
.checkout-content_wrap {
  justify-content: space-between;
}
.checkout-content_wrap form {
  width: auto;
}
.express-checkout_title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
}


.alternative-payment-separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.8571428571em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5em 0;
}

.alternative-payment-separator__content {
  display: inline-block;
  padding: 0 1em;
}
#paypal-button-container iframe.component-frame {
  z-index: 1 !important;
}
</style>

