<div>
  <div class="express-checkout">
    <div class="express-checkout_content">
      <div id='paypal_payment_method' >
        <div id="paypal-button-container"></div>
      </div>
    </div>
  </div>
</div>
<div
  data-pp-message
  data-pp-style-layout="text"
  data-pp-style-logo-type="inline"
  data-pp-style-text-color="black"
  data-pp-amount="<%= @order.total %>"
>
</div>
<%= render partial: 'spree/shared/paypal_button_js.js' %>
<%= stylesheet_link_tag 'paypal_button.css' %>


