<% if @order.state == "address" %>
  <div>
    <div class="express-checkout">
      <div class="express-checkout_title">
        <%= Spree.t('paypal.express_checkout') %>
      </div>
      <div class="express-checkout_content">
        <div id='paypal_payment_method' >
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
    <div class="alternative-payment-separator" data-alternative-payment-separator="">
      <span class="alternative-payment-separator__content">
        <%= Spree.t('paypal.or') %>
      </span>
    </div>
  </div>
  <%= render partial: 'spree/shared/paypal_button_js.js' %>
  <%= stylesheet_link_tag 'paypal_button.css' %>
  <style>
    .express-checkout_title::before {
      border-right: 0 !important;
      border-top-left-radius: 5px;
      margin-right: 1em;
    }
    .express-checkout_title::before, .express-checkout_title::after {
      content: '';
      border: 1px #e6e6e6 solid;
      border-bottom: 0;
      height: 0.5em;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 2em;
      -ms-flex: 1 0 2em;
      flex: 1 0 2em;
    }
    .express-checkout_title::after {
      border-left: 0 !important;
      border-top-right-radius: 5px;
      margin-left: 1em;
    }
    .express-checkout_title::before, .express-checkout_title::after {
      content: '';
      border: 1px #e6e6e6 solid;
      border-bottom: 0;
      height: 0.5em;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 2em;
      -ms-flex: 1 0 2em;
      flex: 1 0 2em;
    }
    .express-checkout_content {
      border: 1px #e6e6e6 solid;
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0.9285714286em 1.4285714286em 1.4285714286em;
    }
    .alternative-payment-separator::after, .alternative-payment-separator::before {
      content: '';
      display: inline-block;
      height: 1px;
      background-color: #e6e6e6;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  </style>
<% end %>
