
<div style="display: none">
  <%= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_create_paypal_order_path(:payment_method_id => payment_method.id, :order_id => @order.id), :method => :post, :id => "paypal_button") %>
</div>
<p>After clicking "Complete order", you will be redirected to PayPal to complete your purchase securely with PayPal account or Credit Cards.</p>

<p>No PayPal account is required. Major credit cards like Visa, MasterCard, Discover, and American Express cards are accepted.</p>

<div id="paypal-image-logo" style="display: none"><%= image_tag("paypal.png") %></div>
<script>
    document.addEventListener('turbolinks:load', function () {
        SpreePaypal.paymentMethodID = "<%= payment_method.id %>"
    })
</script>