<div
  data-pp-message
  data-pp-placement="<%= placement %>"
  data-pp-style-layout="text"
  data-pp-style-text-size="<%= ::Spree::PaymentMethod.find_by(type: "Spree::Gateway::PayPalCheckout")&.preferred_pay_later_text_size %>"
  data-pp-style-logo-type="inline"
  data-pp-style-text-color="black"
  data-pp-amount="<%= amount %>"
>
</div>