<div id="paypal-button-container"></div>

<style>
  #paypal-button-container iframe.component-frame {
    z-index: 1 !important;
  }
</style>
<%= render partial: "spree/shared/paypal_checkout_js_sdk" %>